{{ define "main" }}

    <div class="container white-block">
        <div class="table-responsive">
            <div class="table text-start">
                <div class="tbody">
                    <div class="row green">
                        <div class="cell text-start">{{ .Site.Params.Green.Title }}</div>
                        <div class="cell">
                            {{ range $value:= .Site.Params.Green.Descriptions }}
                                <p>{{ $value }}</p>
                            {{ end }}
                        </div>
                    </div>
                    <div class="row yellow">
                        <div class="cell text-start">{{ .Site.Params.Yellow.Title }}</div>
                        <div class="cell">
                            {{ range $value:= .Site.Params.Yellow.Descriptions }}
                            <p>{{ $value }}</p>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{ if (eq .Site.Language.Lang "ua") }}
        <div class="container additional-block white-block extras">
            <div>
                <div class="date">
                    <span>{{.Site.Params.DateTitle}}: 12.03.2022</span>
                </div>
                <div class="text-block">
                    <p>Європейська рада активувала Директиву про тимчасовий захист - українські біженці отримають у
                        ЄС дозвіл на проживання, роботу та освіту.<br>
                        <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=OJ:L:2022:071:TOC" target="_blank">Офіційне посилання на документ</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="container telegram extras">
            <p>Щоб отримувати інформацію про оновлення на нашому сайті</p>
            <p>підписуйтесь на телеграм канал <a href="https://t.me/ukreucom" target="_blank">https://t.me/ukreucom</a></p>
        </div>

        <div class="container mail extras">
            <p>Якщо ви знайшли помилку, або інформація не повна - залишайте свої коментарі за адресою <a href="mailto:ukreucom@gmail.com" target="_blank">ukreucom@gmail.com</a></p>
            <p>Ми будемо вносити зміни максимально оперативно, дякуємо за допомогу!</p>
        </div>
    {{ else }}
        <div class="container additional-block white-block extras">
            <div>
                <div class="date">
                    <span>{{.Site.Params.DateTitle}}: 12.03.2022</span>
                </div>
                <div class="text-block">
                    <p>
                        Европейский совет активировал Директиву о временной защите - украинские беженцы получат в ЕС вид на жительство, работу и образование.<br>
                        <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=OJ:L:2022:071:TOC" target="_blank">Официальная ссылка на документ</a>
                </div>
            </div>
        </div>

        <div class="container telegram extras">
            <p>Чтобы получать информацию о обновлениях на нашем сайте</p>
            <p>подписуйтесь на телеграм канал <a href="https://t.me/ukreucom" target="_blank">https://t.me/ukreucom</a></p>
        </div>

        <div class="container mail extras">
            <p>Если вы обнаружили ошибку, или информация не полная - оставляйте свои комментарии по адресу <a href="mailto:ukreucom@gmail.com" target="_blank">ukreucom@gmail.com</a></p>
            <p>Мы будем вносить изменения максимально оперативно, спасибо за помощь!</p>
        </div>
    {{ end }}



    {{ range $key, $value:= (index .Site.Data .Site.Language.Lang).extras }}
        <div class="container country-block white-block">
            <div>
                <a name="{{$key}}"></a>
                <h3>{{ $value.title }}</h3>
                <div class="date">
                    <span>{{ $.Site.Params.DateTitle }}: {{$value.date}}</span>
                </div>
                <div class="table-responsive">
                    <div class="table text-start">
                        <div class="tbody">
                            {{ range $row:= $value.shure }}
                                <div class="row green">
                                    <div class="cell text-start">{{$row.title}}</div>
                                    <div class="cell">
                                        {{ range $description:= $row.descriptions }}
                                            <p>{{$description}}</p>
                                        {{ end }}

                                        {{ range $phone:= $row.phones }}
                                            <p><a href="tel:{{$phone}}">{{$phone}}</a></p>
                                        {{ end }}

                                        {{ range $link:= $row.links }}
                                            <p><a href="{{$link}}" target="_blank">{{$link}}</a></p>
                                        {{ end }}
                                    </div>
                                </div>
                            {{end}}
                            {{ range $row:= $value.tocheck }}
                                <div class="row yellow">
                                    <div class="cell text-start">{{$row.title}}</div>
                                    <div class="cell">
                                        {{ range $description:= $row.descriptions }}
                                            <p>{{$description}}</p>
                                        {{ end }}

                                        {{ range $phone:= $row.phones }}
                                            <p><a href="tel:{{$phone}}">{{$phone}}</a></p>
                                        {{ end }}

                                        {{ range $link:= $row.links }}
                                            <p><a href="{{$link}}" target="_blank">{{$link}}</a></p>
                                        {{ end }}
                                    </div>
                                </div>
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{ end }}




    {{ range $key, $value:= (index .Site.Data .Site.Language.Lang).countries }}
        <div class="container country-block white-block">
            <div>
                <a name="{{$key}}"></a>
                <h3>{{ $value.country }}</h3>
                <div class="date">
                    <span>{{ $.Site.Params.DateTitle }}: {{$value.date}}</span>
                </div>
                <div class="table-responsive">
                    <div class="table text-start">
                        <div class="tbody">
                            {{ range $row:= $value.shure }}
                            <div class="row green">
                                <div class="cell text-start">{{$row.title}}</div>
                                <div class="cell">
                                    {{ range $description:= $row.descriptions }}
                                        <p>{{$description}}</p>
                                    {{ end }}

                                    {{ range $phone:= $row.phones }}
                                        <p><a href="tel:{{$phone}}">{{$phone}}</a></p>
                                    {{ end }}

                                    {{ range $link:= $row.links }}
                                        <p><a href="{{$link}}" target="_blank">{{$link}}</a></p>
                                    {{ end }}
                                </div>
                            </div>
                            {{end}}
                            {{ range $row:= $value.tocheck }}
                            <div class="row yellow">
                                <div class="cell text-start">{{$row.title}}</div>
                                <div class="cell">
                                    {{ range $description:= $row.descriptions }}
                                        <p>{{$description}}</p>
                                    {{ end }}

                                    {{ range $phone:= $row.phones }}
                                        <p><a href="tel:{{$phone}}">{{$phone}}</a></p>
                                    {{ end }}

                                    {{ range $link:= $row.links }}
                                        <p><a href="{{$link}}" target="_blank">{{$link}}</a></p>
                                    {{ end }}
                                </div>
                            </div>
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{ end }}

{{ end }}
